cffi==1.15.0
crcmod~=1.7
jinja2==2.11.3
jsonschema==3.0.1
pcpp==1.22
pycparser==2.21.0
pytest
pytest_cases
pytest-xdist
bsw_code_gen~=0.1.8
MarkupSafe==2.0.1 # required to fix https://github.com/aws/aws-sam-cli/issues/3661
