#ifndef XCP_CFG_H
#define XCP_CFG_H

#include "Xcp_Types.h"

#include "Xcp_Checksum.h"

#ifndef XCP_USER_CMD_H
#include "Xcp_UserCmd.h"
#endif /* #ifndef XCP_USER_CMD_H */

{%- for configuration in configurations %}
{%- if loop.first %}
#ifndef XCP_PAGING_SUPPORTED

#define XCP_PAGING_SUPPORTED ({% if (configuration.segments | default([]))|length > 0 %}STD_ON{% else %}STD_OFF{% endif %})

#endif /* #ifndef XCP_PAGING_SUPPORTED */
{%- endif %}
{%- endfor %}

#define Xcp_START_SEC_CONST_UNSPECIFIED
#include "Xcp_MemMap.h"

extern const Xcp_Type Xcp[{{'0x%02Xu' % configurations|length}}];

#define Xcp_STOP_SEC_CONST_UNSPECIFIED
#include "Xcp_MemMap.h"

#endif /* #ifndef XCP_CFG_H */
