#include "Xcp_Cfg.h"
{% for configuration in configurations %}
#ifndef {{configuration.communication.channel_rx_pdu_ref}}
#warning {{configuration.communication.channel_rx_pdu_ref}} not defined, assigning 0x0001u as default value. This definition should be passed trough the build system ({{configuration.communication.channel_rx_pdu_ref}}=0xXXXX).
#define {{configuration.communication.channel_rx_pdu_ref}} (0x0001u)
#endif /* #ifndef {{configuration.communication.channel_rx_pdu_ref}} */

#ifndef {{configuration.communication.channel_tx_pdu_ref}}
#warning {{configuration.communication.channel_tx_pdu_ref}} not defined, assigning 0x0002u as default value. This definition should be passed trough the build system ({{configuration.communication.channel_tx_pdu_ref}}=0xXXXX).
#define {{configuration.communication.channel_tx_pdu_ref}} (0x0002u)
#endif /* #ifndef {{configuration.communication.channel_tx_pdu_ref}} */
{%- endfor %}
{% set default_pdu_mapping = namespace(value=3) %}
{%- for configuration in configurations %}
    {%- set configuration_loop = loop %}
    {%- for daq in configuration.daqs %}
        {%- for dto in daq.dtos %}
#ifndef {{dto.pdu_mapping}}
#warning {{dto.pdu_mapping}} not defined, assigning {{'0x%04Xu' % default_pdu_mapping.value}} as default value. This definition should be passed trough the build system ({{dto.pdu_mapping}}=0xXXXX).
#define {{dto.pdu_mapping}} ({{'0x%04Xu' % default_pdu_mapping.value}})
#endif /* #ifndef {{dto.pdu_mapping}} */
            {%- set default_pdu_mapping.value = default_pdu_mapping.value + 1 %}
        {% endfor %}
    {%- endfor %}
{%- endfor %}
{%- for configuration in configurations %}
    {%- set configuration_loop = loop %}
    {%- for daq in configuration.daqs %}
        {%- set daq_loop = loop %}
        {%- for i in range(daq.max_odt) %}
#define Xcp_START_SEC_VAR_FAST_POWER_ON_INIT_UNSPECIFIED
#include "Xcp_MemMap.h"

static Xcp_OdtEntryType Xcp_OdtEntryConfig{{'%02X' % configuration_loop.index0}}Daq{{'%02X' % daq_loop.index0}}Odt{{'%02X' % i}}[{{'0x%02Xu' % daq.max_odt_entries}}] = {
            {%- for j in range(daq.max_odt_entries) %}
    {
        NULL_PTR, /* XcpOdtEntryAddress */
        0x00u, /* XcpOdtEntryBitOffset */
        0x00u, /* XcpOdtEntryLength */
        {{'0x%02Xu' % j}} /* XcpOdtEntryNumber */
    },
            {%- endfor %}
};

#define Xcp_STOP_SEC_VAR_FAST_POWER_ON_INIT_UNSPECIFIED
#include "Xcp_MemMap.h"
        {% endfor %}
    {%- endfor %}
{%- endfor %}
{%- for configuration in configurations %}
    {%- set configuration_loop = loop %}
    {%- for daq in configuration.daqs %}
        {%- set daq_loop = loop %}
#define Xcp_START_SEC_CONST_UNSPECIFIED
#include "Xcp_MemMap.h"

static Xcp_OdtType Xcp_OdtConfig{{'%02X' % configuration_loop.index0}}Daq{{'%02X' % daq_loop.index0}}[{{'0x%02Xu' % daq.max_odt}}] = {
        {%- for i in range(daq.max_odt) %}
    {
        0x07u, /* hard-coded XcpOdtEntryMaxSize */
        {{'0x%02Xu' % i}}, /* XcpOdtNumber */
        0x00u, /* XcpOdt2DtoMapping */
        &Xcp_OdtEntryConfig{{'%02X' % configuration_loop.index0}}Daq{{'%02X' % daq_loop.index0}}Odt{{'%02X' % i}}[0x00u] /* reference to XcpOdtEntry */
    },
        {%- endfor %}
};

#define Xcp_STOP_SEC_CONST_UNSPECIFIED
#include "Xcp_MemMap.h"
    {% endfor %}
{%- endfor %}
{%- for configuration in configurations %}
#define Xcp_START_SEC_CONST_UNSPECIFIED
#include "Xcp_MemMap.h"

static const Xcp_RxPduType Xcp_CommunicationChannelRxPduConfig{{'%02X' % loop.index0}} = {
    {{configuration.communication.channel_rx_pdu_ref}}, /* XcpRxPduId */
    NULL_PTR /* hard-coded XcpRxPduRef */
};

#define Xcp_STOP_SEC_CONST_UNSPECIFIED
#include "Xcp_MemMap.h"
{% endfor %}
{%- for configuration in configurations %}
#define Xcp_START_SEC_CONST_UNSPECIFIED
#include "Xcp_MemMap.h"

static const Xcp_TxPduType Xcp_CommunicationChannelTxPduConfig{{'%02X' % loop.index0}} = {
    {{configuration.communication.channel_tx_pdu_ref}}, /* XcpTxPduId */
    NULL_PTR /* hard-coded XcpTxPduRef */
};

#define Xcp_STOP_SEC_CONST_UNSPECIFIED
#include "Xcp_MemMap.h"
{% endfor %}
{%- for configuration in configurations %}
    {%- set configuration_loop = loop %}
    {%- for daq in configuration.daqs %}
#define Xcp_START_SEC_CONST_UNSPECIFIED
#include "Xcp_MemMap.h"

static const Xcp_DtoType Xcp_DtoConfig{{'%02X' % configuration_loop.index0}}Daq{{'%02X' % loop.index0}}[{{'0x%02Xu' % daq.dtos|length}}] = {
        {%- for dto in daq.dtos %}
    {
        {{'0x%04Xu' % dto.pid}}, /* XcpDtoPid */
        {
            {{dto.pdu_mapping}}, /* XcpDto2PduMapping */
            NULL_PTR
        }
    },
        {%- endfor %}
};

#define Xcp_STOP_SEC_CONST_UNSPECIFIED
#include "Xcp_MemMap.h"
    {% endfor %}
{%- endfor %}
{%- for configuration in configurations %}
    {%- set configuration_loop = loop %}
#define Xcp_START_SEC_CONST_UNSPECIFIED
#include "Xcp_MemMap.h"

static Xcp_DaqListType Xcp_DaqListConfig{{'%02X' % loop.index0}}[{{'0x%02Xu' % configuration.daqs|length}}] = {
    {%- for daq in configuration.daqs %}
    {
        {{'0x%04Xu' % loop.index0}}, /* XcpDaqListNumber */
        {{daq.type}}, /* XcpDaqListType */
        {{'0x%02Xu' % daq.max_odt}}, /* XcpMaxOdt */
        {{'0x%02Xu' % daq.max_odt_entries}}, /* XcpMaxOdtEntries */
        &Xcp_DtoConfig{{'%02X' % configuration_loop.index0}}Daq{{'%02X' % loop.index0}}[0x00u], /* reference to XcpDto */
        {{'0x%08Xu' % daq.dtos|length}}, /* not part of the specification... */
        &Xcp_OdtConfig{{'%02X' % configuration_loop.index0}}Daq{{'%02X' % loop.index0}}[0x00u] /* reference to XcpOdt */
    },
    {%- endfor %}
};

#define Xcp_STOP_SEC_CONST_UNSPECIFIED
#include "Xcp_MemMap.h"
{% endfor %}
#define Xcp_START_SEC_CONST_UNSPECIFIED
#include "Xcp_MemMap.h"

static const Xcp_CommunicationChannelType Xcp_CommunicationChannelConfig[{{'0x%02Xu' % configurations|length}}] = {
{%- for configuration in configurations %}
    {
        &Xcp_CommunicationChannelRxPduConfig{{'%02X' % loop.index0}}, /* reference to XcpChannelRxPduRef */
        &Xcp_CommunicationChannelTxPduConfig{{'%02X' % loop.index0}}, /* reference to XcpChannelTxPduRef */
        NULL_PTR /* hard-coded XcpComMChannelRef */
    },
{%- endfor %}
};

#define Xcp_STOP_SEC_CONST_UNSPECIFIED
#include "Xcp_MemMap.h"
{% for configuration in configurations %}
#define Xcp_START_SEC_CONST_UNSPECIFIED
#include "Xcp_MemMap.h"

static Xcp_ConfigType Xcp_ConfigConfig{{'%02X' % loop.index0}} = {
    &Xcp_CommunicationChannelConfig[{{'0x%02Xu' % loop.index0}}], /* reference to XcpCommunicationChannel */
    &Xcp_DaqListConfig{{'%02X' % loop.index0}}[0x00u], /* reference to XcpDaqList */
    NULL_PTR, /* reference to XcpEventChannel */
    NULL_PTR /* reference to XcpPdu */
};

#define Xcp_STOP_SEC_CONST_UNSPECIFIED
#include "Xcp_MemMap.h"
{% endfor %}
{%- for configuration in configurations %}
#define Xcp_START_SEC_CONST_UNSPECIFIED
#include "Xcp_MemMap.h"

static Xcp_GeneralType Xcp_GeneralConfig{{'%02X' % loop.index0}} = {
    DAQ_STATIC, /* hard-coded XcpDaqConfigType */
    {{'0x%04Xu' % configuration.daqs|length}}, /* XcpDaqCount */
    TRUE, /* hard-coded XcpDevErrorDetect */
    FALSE, /* hard-coded XcpFlashProgrammingEnabled */
    ABSOLUTE, /* hard-coded XcpIdentificationFieldType */
    1000000, /* hard-coded XcpMainFunctionPeriod */
    {{'0x%04Xu' % configuration.protocol_layer.max_cto}}, /* XcpMaxCto */
    {{'0x%04Xu' % configuration.protocol_layer.max_dto}}, /* XcpMaxDto */
    {{'0x%04Xu' % configuration.events|length}}, /* XcpMaxEventChannel */
    0x00u, /* hard-coded XcpMinDaq */
    0x00u, /* hard-coded XcpOdtCount */
    0x00u, /* hard-coded XcpOdtEntriesCount */
    0x00u, /* hard-coded XcpOdtEntrySizeDaq */
    0x00u, /* hard-coded XcpOdtEntrySizeStim */
    TRUE, /* hard-coded XcpOnCanEnabled */
    FALSE, /* hard-coded XcpOnCddEnabled */
    FALSE, /* hard-coded XcpOnEthernetEnabled */
    FALSE, /* hard-coded XcpOnFlexRayEnabled */
    FALSE, /* hard-coded XcpPrescalerSupported */
    FALSE, /* hard-coded XcpSuppressTxSupport */
    0x0001u, /* hard-coded XcpTimestampTicks */
    FOUR_BYTE, /* hard-coded XcpTimestampType */
    TIMESTAMP_UNIT_1MS, /* hard-coded XcpTimestampUnit */
    TRUE, /* hard-coded XcpVersionInfoApi */
    NULL_PTR, /* hard-coded XcpCounterRef */
    NULL_PTR, /* hard-coded XcpNvRamBlockIdRef */
    {
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x00 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x01 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x02 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x03 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x04 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x05 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x06 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x07 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x08 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x09 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x0A */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x0B */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x0C */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x0D */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x0E */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x0F */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x10 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x11 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x12 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x13 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x14 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x15 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x16 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x17 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x18 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x19 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x1A */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x1B */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x1C */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x1D */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x1E */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x1F */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x20 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x21 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x22 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x23 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x24 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x25 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x26 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x27 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x28 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x29 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x2A */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x2B */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x2C */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x2D */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x2E */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x2F */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x30 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x31 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x32 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x33 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x34 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x35 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x36 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x37 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x38 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x39 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x3A */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x3B */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x3C */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x3D */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x3E */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x3F */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x40 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x41 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x42 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x43 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x44 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x45 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x46 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x47 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x48 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x49 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x4A */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x4B */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x4C */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x4D */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x4E */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x4F */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x50 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x51 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x52 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x53 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x54 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x55 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x56 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x57 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x58 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x59 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x5A */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x5B */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x5C */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x5D */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x5E */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x5F */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x60 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x61 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x62 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x63 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x64 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x65 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x66 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x67 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x68 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x69 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x6A */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x6B */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x6C */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x6D */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x6E */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x6F */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x70 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x71 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x72 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x73 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x74 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x75 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x76 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x77 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x78 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x79 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x7A */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x7B */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x7C */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x7D */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x7E */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x7F */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x80 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x81 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x82 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x83 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x84 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x85 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x86 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x87 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x88 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x89 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x8A */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x8B */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x8C */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x8D */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x8E */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x8F */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x90 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x91 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x92 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x93 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x94 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x95 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x96 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x97 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x98 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x99 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x9A */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x9B */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x9C */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x9D */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x9E */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0x9F */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xA0 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xA1 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xA2 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xA3 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xA4 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xA5 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xA6 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xA7 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xA8 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xA9 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xAA */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xAB */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xAC */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xAD */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xAE */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xAF */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xB0 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xB1 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xB2 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xB3 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xB4 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xB5 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xB6 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xB7 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xB8 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xB9 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xBA */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xBB */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xBC */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xBD */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xBE */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xBF */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xC0 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xC1 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xC2 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xC3 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xC4 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xC5 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xC6 */
        (0x01u << 0x07u) /* enable */ | (0x00u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x00u, /* 0xC7 */
        (0x01u << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x08u, /* PROGRAM_VERIFY 0xC8, optional */
        ({% if configuration.apis.xcp_program_max_api_enable.enabled %}0x01u{% else %}0x00u{% endif %} << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x03u, /* PROGRAM_MAX 0xC9, optional */
        (0x01u << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x04u, /* PROGRAM_NEXT 0xCA, optional */
        (0x01u << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x05u, /* PROGRAM_FORMAT 0xCB, optional */
        (0x01u << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x04u, /* PROGRAM_PREPARE 0xCC, optional */
        (0x01u << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x03u, /* GET_SECTOR_INFO 0xCD, optional */
        (0x01u << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x01u, /* GET_PGM_PROCESSOR_INFO 0xCE, optional */
        (0x01u << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x01u, /* PROGRAM_RESET 0xCF */
        (0x01u << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x04u, /* PROGRAM 0xD0 */
        (0x01u << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x08u, /* PROGRAM_CLEAR 0xD1 */
        (0x01u << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x01u, /* PROGRAM_START 0xD2 */
        ({% if configuration.apis.xcp_alloc_odt_entry_api_enable.enabled %}0x01u{% else %}0x00u{% endif %} << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | ({% if configuration.apis.xcp_alloc_odt_entry_api_enable.protected %}0x01u{% else %}0x00u{% endif %} << 0x05u) /* protected through seed and key */ | 0x06u, /* ALLOC_ODT_ENTRY 0xD3, optional */
        ({% if configuration.apis.xcp_alloc_odt_api_enable.enabled %}0x01u{% else %}0x00u{% endif %} << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | ({% if configuration.apis.xcp_alloc_odt_api_enable.protected %}0x01u{% else %}0x00u{% endif %} << 0x05u) /* protected through seed and key */ | 0x05u, /* ALLOC_ODT 0xD4, optional */
        ({% if configuration.apis.xcp_alloc_daq_api_enable.enabled %}0x01u{% else %}0x00u{% endif %} << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | ({% if configuration.apis.xcp_alloc_daq_api_enable.protected %}0x01u{% else %}0x00u{% endif %} << 0x05u) /* protected through seed and key */ | 0x04u, /* ALLOC_DAQ 0xD5, optional */
        ({% if configuration.apis.xcp_free_daq_api_enable.enabled %}0x01u{% else %}0x00u{% endif %} << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | ({% if configuration.apis.xcp_free_daq_api_enable.protected %}0x01u{% else %}0x00u{% endif %} << 0x05u) /* protected through seed and key */ | 0x01u, /* FREE_DAQ 0xD6, optional */
        ({% if configuration.apis.xcp_get_daq_event_info_api_enable.enabled %}0x01u{% else %}0x00u{% endif %} << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | ({% if configuration.apis.xcp_get_daq_event_info_api_enable.protected %}0x01u{% else %}0x00u{% endif %} << 0x05u) /* protected through seed and key */ | 0x04u, /* GET_DAQ_EVENT_INFO 0xD7, optional */
        ({% if configuration.apis.xcp_get_daq_list_info_api_enable.enabled %}0x01u{% else %}0x00u{% endif %} << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | ({% if configuration.apis.xcp_get_daq_list_info_api_enable.protected %}0x01u{% else %}0x00u{% endif %} << 0x05u) /* protected through seed and key */ | 0x04u, /* GET_DAQ_LIST_INFO 0xD8, optional */
        ({% if configuration.apis.xcp_get_daq_resolution_info_api_enable.enabled %}0x01u{% else %}0x00u{% endif %} << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | ({% if configuration.apis.xcp_get_daq_resolution_info_api_enable.protected %}0x01u{% else %}0x00u{% endif %} << 0x05u) /* protected through seed and key */ | 0x01u, /* GET_DAQ_RESOLUTION_INFO 0xD9, optional */
        ({% if configuration.apis.xcp_get_daq_processor_info_api_enable.enabled %}0x01u{% else %}0x00u{% endif %} << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | ({% if configuration.apis.xcp_get_daq_processor_info_api_enable.protected %}0x01u{% else %}0x00u{% endif %} << 0x05u) /* protected through seed and key */ | 0x01u, /* GET_DAQ_PROCESSOR_INFO 0xDA, optional */
        ({% if configuration.apis.xcp_read_daq_api_enable.enabled %}0x01u{% else %}0x00u{% endif %} << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | ({% if configuration.apis.xcp_read_daq_api_enable.protected %}0x01u{% else %}0x00u{% endif %} << 0x05u) /* protected through seed and key */ | 0x01u, /* READ_DAQ 0xDB, optional */
        ({% if configuration.apis.xcp_get_daq_clock_api_enable.enabled %}0x01u{% else %}0x00u{% endif %} << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | ({% if configuration.apis.xcp_get_daq_clock_api_enable.protected %}0x01u{% else %}0x00u{% endif %} << 0x05u) /* protected through seed and key */ | 0x01u, /* GET_DAQ_CLOCK 0xDC, optional */
        ({% if configuration.apis.xcp_start_stop_synch_api_enable.enabled %}0x01u{% else %}0x00u{% endif %} << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | ({% if configuration.apis.xcp_start_stop_synch_api_enable.protected %}0x01u{% else %}0x00u{% endif %} << 0x05u) /* protected through seed and key */ | 0x02u, /* START_STOP_SYNCH 0xDD */
        ({% if configuration.apis.xcp_start_stop_daq_list_api_enable.enabled %}0x01u{% else %}0x00u{% endif %} << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | ({% if configuration.apis.xcp_start_stop_daq_list_api_enable.protected %}0x01u{% else %}0x00u{% endif %} << 0x05u) /* protected through seed and key */ | 0x04u, /* START_STOP_DAQ_LIST 0xDE */
        ({% if configuration.apis.xcp_get_daq_list_mode_api_enable.enabled %}0x01u{% else %}0x00u{% endif %} << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | ({% if configuration.apis.xcp_get_daq_list_mode_api_enable.protected %}0x01u{% else %}0x00u{% endif %} << 0x05u) /* protected through seed and key */ | 0x04u, /* GET_DAQ_LIST_MODE 0xDF */
        ({% if configuration.apis.xcp_set_daq_list_mode_api_enable.enabled %}0x01u{% else %}0x00u{% endif %} << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | ({% if configuration.apis.xcp_set_daq_list_mode_api_enable.protected %}0x01u{% else %}0x00u{% endif %} << 0x05u) /* protected through seed and key */ | 0x08u, /* SET_DAQ_LIST_MODE 0xE0 */
        ({% if configuration.apis.xcp_write_daq_api_enable.enabled %}0x01u{% else %}0x00u{% endif %} << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | ({% if configuration.apis.xcp_write_daq_api_enable.protected %}0x01u{% else %}0x00u{% endif %} << 0x05u) /* protected through seed and key */ | 0x08u, /* WRITE_DAQ 0xE1 */
        ({% if configuration.apis.xcp_set_daq_ptr_api_enable.enabled %}0x01u{% else %}0x00u{% endif %} << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | ({% if configuration.apis.xcp_set_daq_ptr_api_enable.protected %}0x01u{% else %}0x00u{% endif %} << 0x05u) /* protected through seed and key */ | 0x06u, /* SET_DAQ_PTR 0xE2 */
        ({% if configuration.apis.xcp_clear_daq_list_api_enable.enabled %}0x01u{% else %}0x00u{% endif %} << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | ({% if configuration.apis.xcp_clear_daq_list_api_enable.protected %}0x01u{% else %}0x00u{% endif %} << 0x05u) /* protected through seed and key */ | 0x04u, /* CLEAR_DAQ_LIST 0xE3 */
        (0x01u << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x05u, /* COPY_CAL_PAGE 0xE4, optional */
        (0x01u << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x03u, /* GET_SEGMENT_MODE 0xE5, optional */
        (0x01u << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x03u, /* SET_SEGMENT_MODE 0xE6, optional */
        (0x01u << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x04u, /* GET_PAGE_INFO 0xE7, optional */
        (0x01u << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x05u, /* GET_SEGMENT_INFO 0xE8, optional */
        (0x01u << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x01u, /* GET_PAG_PROCESSOR_INFO 0xE9, optional */
        ({% if configuration.apis.xcp_get_cal_page_api_enable.enabled %}0x01u{% else %}0x00u{% endif %} << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | ({% if configuration.apis.xcp_get_cal_page_api_enable.protected %}0x01u{% else %}0x00u{% endif %} << 0x05u) /* protected through seed and key */ | 0x03u, /* GET_CAL_PAGE 0xEA */
        ({% if configuration.apis.xcp_set_cal_page_api_enable.enabled %}0x01u{% else %}0x00u{% endif %} << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | ({% if configuration.apis.xcp_set_cal_page_api_enable.protected %}0x01u{% else %}0x00u{% endif %} << 0x05u) /* protected through seed and key */ | 0x04u, /* SET_CAL_PAGE 0xEB */
        (0x01u << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x06u, /* MODIFY_BITS 0xEC, optional */
        ({% if configuration.apis.xcp_short_download_api_enable.enabled %}0x01u{% else %}0x00u{% endif %} << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | ({% if configuration.apis.xcp_short_download_api_enable.protected %}0x01u{% else %}0x00u{% endif %} << 0x05u) /* protected through seed and key */ | 0x08u, /* SHORT_DOWNLOAD 0xED, optional */
        ({% if configuration.apis.xcp_download_max_api_enable.enabled %}0x01u{% else %}0x00u{% endif %} << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | ({% if configuration.apis.xcp_download_max_api_enable.protected %}0x01u{% else %}0x00u{% endif %} << 0x05u) /* protected through seed and key */ | 0x03u, /* DOWNLOAD_MAX 0xEE, optional */
        (0x01u << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x04u, /* DOWNLOAD_NEXT 0xEF, optional */
        ({% if configuration.apis.xcp_download_api_enable.enabled %}0x01u{% else %}0x00u{% endif %} << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | ({% if configuration.apis.xcp_download_api_enable.protected %}0x01u{% else %}0x00u{% endif %} << 0x05u) /* protected through seed and key */ | 0x04u, /* DOWNLOAD 0xF0 */
        (0x01u << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x03u, /* USER_CMD 0xF1, optional */
        (0x01u << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x03u, /* TRANSPORT_LAYER_CMD 0xF2, optional */
        ({% if configuration.apis.xcp_build_checksum_api_enable.enabled %}0x01u{% else %}0x00u{% endif %} << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x08u, /* BUILD_CHECKSUM 0xF3, optional */
        ({% if configuration.apis.xcp_short_upload_api_enable.enabled %}0x01u{% else %}0x00u{% endif %} << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x08u, /* SHORT_UPLOAD 0xF4, optional */
        ({% if configuration.apis.xcp_upload_api_enable.enabled %}0x01u{% else %}0x00u{% endif %} << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x02u, /* UPLOAD 0xF5, optional */
        ({% if configuration.apis.xcp_set_mta_api_enable.enabled %}0x01u{% else %}0x00u{% endif %} << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x08u, /* SET_MTA 0xF6, optional */
        ({% if configuration.apis.xcp_unlock_api_enable.enabled %}0x01u{% else %}0x00u{% endif %} << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x03u, /* UNLOCK 0xF7, optional */
        ({% if configuration.apis.xcp_get_seed_api_enable.enabled %}0x01u{% else %}0x00u{% endif %} << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x03u, /* GET_SEED 0xF8, optional */
        ({% if configuration.apis.xcp_set_request_api_enable.enabled %}0x01u{% else %}0x00u{% endif %} << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x04u, /* SET_REQUEST 0xF9, optional */
        ({% if configuration.apis.xcp_get_id_api_enable.enabled %}0x01u{% else %}0x00u{% endif %} << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x02u, /* GET_ID 0xFA, optional */
        ({% if configuration.apis.xcp_get_comm_mode_info_api_enable.enabled %}0x01u{% else %}0x00u{% endif %} << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x01u, /* GET_COMM_MOD_INFO 0xFB, optional */
        (0x01u << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x01u, /* SYNCH 0xFC */
        (0x01u << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x01u, /* GET_STATUS 0xFD */
        (0x01u << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x01u, /* DISCONNECT 0xFE */
        (0x01u << 0x07u) /* enable */ | (0x01u << 0x06u) /* is CTO */ | (0x00u << 0x05u) /* protected through seed and key */ | 0x02u /* CONNECT 0xFF */
    },
    {{configuration.protocol_layer.byte_order}}, /* byteOrder */
    {{configuration.protocol_layer.address_granularity}}, /* addressGranularity */
    /* TODO: check this parameter while performing block transfer operation... */
    {% if configuration.protocol_layer.slave_block_mode %}TRUE{% else %}FALSE{% endif %}, /* slaveBlockTransferModeSupported */
    ({% if configuration.apis.resource_protection.calibration_paging %}0x01u{% else %}0x00u{% endif %} << 0x00u) |
    ({% if configuration.apis.resource_protection.data_acquisition %}0x01u{% else %}0x00u{% endif %} << 0x02u) |
    ({% if configuration.apis.resource_protection.data_stimulation %}0x01u{% else %}0x00u{% endif %} << 0x03u) |
    ({% if configuration.apis.resource_protection.programming %}0x01u{% else %}0x00u{% endif %} << 0x04u), /* protectedResource */
    {{configuration.protocol_layer.checksum_type}}, /* checksumType */
    {% if configuration.protocol_layer.user_defined_checksum_function %}&{{configuration.protocol_layer.user_defined_checksum_function}}{% else %}NULL_PTR{% endif %} /* checksumType */
};

#define Xcp_STOP_SEC_CONST_UNSPECIFIED
#include "Xcp_MemMap.h"
{% endfor %}
#define Xcp_START_SEC_CONST_UNSPECIFIED
#include "Xcp_MemMap.h"

const Xcp_Type Xcp[{{'0x%02Xu' % configurations|length}}] =
{
{%- for configuration in configurations %}
    {
        &Xcp_ConfigConfig{{'%02X' % loop.index0}}, /* reference to XcpConfig */
        &Xcp_GeneralConfig{{'%02X' % loop.index0}}, /* reference to XcpGeneral */
    },
{%- endfor %}
};

#define Xcp_STOP_SEC_CONST_UNSPECIFIED
#include "Xcp_MemMap.h"
